<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{books}}
<article>
    <h2>THE GIRL ON THE TRAIN</h2>
    by <strong>Don Winslow</strong>
    <img src="http://du.ec2.nytimes.com.s3.amazonaws.com/prd/books/9781101874998.jpg">
</article>

{{/books}}

<h1>hello there!</h1>
